{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="es">
    <head>
    <title>Casos</title>         
    </head>
    <body>
        <table class="table table-striped"> 
            <tr>
                <td>Id</td>
                <td>nombrea</td>
                <td>apellido</td>
                <td>celular</td>
                <td>correo</td>
                <td>tipos_especialidad</td>
            </tr>
            {% for prop in abogados %}
              <tr>
                <td><a href = '/abogado/{{prop.pk}}'> {{prop.pk}}</a></td>
                <td>{{prop.nombrea}} </td>
                <td>{{prop.apellido}} </td>
                <td>{{prop.celular}} </td>
                <td>{{prop.correo}}</td>
                <td>{{prop.tipos_especialidad}}</td>
              </tr>
              {% endfor %}
        </table>
    </body>

</html>
{% endblock %}