{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Citas por Cliente</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-8">
            <h1>Tus Citas Agendas son:</h1>
        </div>
        <div class="col-sm-4">
            <a href="{% url 'registrar_cita1' %}" class="btn btn-primary">Registrar Cita</a>
        </div>
    </div>

<div>
    <table class="table">
        <thead class="table-light">
            <tr>
                <th scope="col">Abogado</th>
                <th scope="col">Fecha de Cita</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        {% for cita in citas %}
        <tbody>
            <tr>
                <td>{{cita.abogado}}</td>
                <td>{{cita.fecha_cita}}</td>
                <td>
                    <div>
                        <a href="{{ cita.get_absolute_url }}" class="btn btn-primary">Ver Detalles</a>
                    </div>
                  

                </td>
             
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

</body>
</html>
{% endblock %}