{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="es">
    <head>
    <title>Clientes</title>         
    </head>
    <body>
        <table class="table table-striped"> 
            <tr>
                <td>Id</td>
                <td>nombrec</td>
                <td>apellido</td>
                <td>direccion</td>
                <td>celular</td>
                <td>correo</td>
                
            </tr>
            {% for prop in clientes %}
              <tr>
                <td><a href = '/cliente/{{prop.pk}}'> {{prop.pk}}</a></td>
                <td>{{prop.nombrec}} </td>
                <td>{{prop.apellido}} </td>
                <td>{{prop.direccion}}</td>
                <td>{{prop.celular}} </td>
                <td>{{prop.correo}}</td>
                
              </tr>
              {% endfor %}
        </table>
    </body>

</html>
{% endblock %}