<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Página de Inicio</title>
    
</head>

<body>
    <h1>Bienvenido a la Página de Inicio</h1>
    <ul>
        <li><a href="abogados">Ir a la Lista de Abogados</a></li>
        <li><a href="clientes">Ir a la Lista de Clientes</a></li>`
        <li><a href="ver_casos">Ir a la Lista de Casos</a></li>
        <li><a href="citas">Ir a la Lista de Citas</a></li>
        <!-- Agrega otros enlaces según tus necesidades -->
    </ul>
</body>

</html>