<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Página de Inicio</title>

    <!-- Enlaces a los estilos de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="bg-light">
    <div class="container mt-5">
        <h1 class="text-center">Bienvenido a la Página de Inicio</h1>
        
        <div class="card-deck mt-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Lista de citas</h5>
                    <p class="card-text">Explora la lista de citas del cliente.</p>
                    <a href="{% url 'citas' %}" class="btn btn-primary">Ir</a>
                </div>
            </div>
            
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Subir documentos</h5>
                    <p class="card-text">Suba los documentos del caso que desee
                    </p>
                    <a href="{% url 'subir_documento' %}" class="btn btn-primary">Ir</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Lista de Casos</h5>
                    <p class="card-text">Consulta la lista de casos atendidos por los abogados.</p>
                    <a href="{% url 'ver_casos' %}" class="btn btn-primary">Ir</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Citas</h5>
                    <p class="card-text">Registrar citas.</p>
                    <a href="{% url 'registrar_cita' %}" class="btn btn-primary">Ir</a>
                </div>
                
            </div>
        </div>
    </div>

    <!-- Scripts de Bootstrap (jQuery primero, luego Popper.js, y finalmente Bootstrap JS) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>