<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Crear Cita</title>

    <!-- Enlaces a los estilos de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Enlace al estilo de FullCalendar -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/fullcalendar.min.css" />

    <!-- Enlace a jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- Enlace a FullCalendar -->
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/min/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/fullcalendar.min.js"></script>

    <!-- Scripts de Bootstrap (Popper.js y Bootstrap JS) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Enlace al widget DateTimePicker -->
    {{ form.media.css }}
    {{ form.media.js }}
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/min/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tempusdominus-bootstrap-4@5.39.0/dist/js/tempusdominus-bootstrap-4.min.js"></script>
    <script>
        $(function () {
            $('#id_fecha_cita').datetimepicker();
        });
    </script>
</head>
<body>

<div class="container">
    <h2>Crear Cita</h2>
    
    <!-- Calendario FullCalendar -->
    <div id="calendar"></div>

    <form method="post" action="{% url 'registrar_cita' %}">
        {% csrf_token %}

        {{ form.as_p }}
        
        <button type="submit" class="btn btn-primary">Crear Cita</button>
    </form>
</div>

<!-- Script para configurar FullCalendar y el DateTimePicker -->
<script>
    $(function () {
        // Configuración de FullCalendar
        $('#calendar').fullCalendar({
            selectable: true,
            select: function (start, end) {
                // Cuando se selecciona una fecha en FullCalendar, actualiza el campo de fecha en el formulario
                $('#id_fecha_cita').val(moment(start).format('YYYY-MM-DD HH:mm:ss'));
            },
            // Configuraciones adicionales de FullCalendar según tus necesidades
        });

        // Configuración del DateTimePicker
        $('#id_fecha_cita').datetimepicker();
    });
</script>

</body>
</html>
