{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registro de Cliente</title>

    <!-- Enlaces a los estilos de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Asegúrate de cargar jQuery antes de los scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- Enlace al estilo de Tempus Dominus -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tempusdominus-bootstrap-4@5.39.0/dist/css/tempusdominus-bootstrap-4.min.css">

    <!-- Cargar archivos estáticos del formulario de Django -->
    {{ form.media.css }}
    {{ form.media.js }}
</head>

<body>

    <div class="container mt-5">
        <h1 class="text-center">Registro de Cliente</h1>
        <form method="post" action="{% url 'registro_cliente' %}" class="col-md-6 mx-auto">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="{{ form.cedula.id_for_label }}">Cédula:</label>
                {{ form.cedula }}
            </div>
        
            <div class="form-group">
                <label for="{{ form.nombrec.id_for_label }}">Nombre:</label>
                {{ form.nombrec }}
            </div>
        
            <div class="form-group">
                <label for="{{ form.apellido.id_for_label }}">Apellido:</label>
                {{ form.apellido }}
            </div>
        
            <div class="form-group">
                <label for="{{ form.direccion.id_for_label }}">Dirección:</label>
                {{ form.direccion }}
            </div>
        
            <div class="form-group">
                <label for="{{ form.celular.id_for_label }}">Celular:</label>
                {{ form.celular }}
            </div>
        
            <div class="form-group">
                <label for="{{ form.correo.id_for_label }}">Correo:</label>
                {{ form.correo }}
            </div>
        
            <div class="form-group">
                <label for="{{ form.usuario.id_for_label }}">Usuario:</label>
                {{ form.usuario }}
            </div>
        
            <div class="form-group">
                <label for="{{ form.contraseña.id_for_label }}">Contraseña:</label>
                {{ form.contraseña }}
            </div>
           
            <button type="submit" class="btn btn-primary">Registrar Cliente</button>
        </form>
    </div>

    <!-- Scripts de Bootstrap (Popper.js y Bootstrap JS) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>