{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Subir Documentos</title>

    <!-- Enlaces a los estilos de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Asegúrate de cargar jQuery antes de los scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    
    <!-- Enlace al estilo de Tempus Dominus -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tempusdominus-bootstrap-4@5.39.0/dist/css/tempusdominus-bootstrap-4.min.css">
</head>

<body>

    <form method="post" action="{% url 'subir_documento' %}" enctype="multipart/form-data" class="container">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h2 class="mb-0">Subir Documento</h2>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Formulario de Documentos</h5>

                        <div class="form-group">
                            <label for="id_caso" class="font-weight-bold">Caso:</label>
                            {{ form.caso }}
                        </div>

                        <div class="form-group">
                            <label for="id_tipo_documento" class="font-weight-bold">Tipo de Documento:</label>
                            {{ form.tipo_documento }}
                        </div>

                        <div class="form-group">
                            <label for="id_descripcion_documento" class="font-weight-bold">Descripción del Documento:</label>
                            {{ form.descripcion_documento }}
                        </div>

                        <div class="form-group">
                            <label for="id_archivo_adjunto" class="font-weight-bold">Archivo Adjunto:</label>
                            {{ form.archivo_adjunto }}
                        </div>

                        <button type="submit" class="btn btn-primary">Subir Documento</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Scripts de Bootstrap (Popper.js y Bootstrap JS) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
