{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Abogados</title>         
</head>
<body>
    <table class="table table-striped"> 
        <tr>
            <td>Id</td>
            <td>Abogado</td>
            <td>Numero de casos</td>
        </tr>
        {% for abogado in casos_por_abogado %}
            <tr>
                <td><a href="/caso/{{ abogado.pk }}">{{ abogado.pk }}</a></td>
                <td>{{ abogado.nombrea }}</td>
                <td>{{ abogado.num_casos }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
{% endblock %}